html, body, h1, h2, h3, ul, li, a, p, figure{
    margin:0;
    padding: 0;
    font-family: Calibri, Arial, Helvetica, sans-serif;
}

body{
    background-color: #D5D4F3;
}

header{
    height: 70px;
    background-color: #ECB2E4;
    padding-top: 5px;
    padding-bottom: 5px;
}

header img{
    float: left;
    margin-left: 2%;
    width: 55px;
    margin-top: 8px;
}

header h1{
    float: left;
    font-size: 20px;
    color: #000000;
    margin-left: 15px;
    margin-top: 21px;

}

nav{
    float:right;
    background-color: #ECB2E4;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

nav ul li{
    display: inline;
    text-align: center;
}

nav a{
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

nav a:hover{
    background-color: #60499189;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10%;
}

footer{
    clear: both;
    margin-top: 5%;
    background-color: #ECB2E4;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 22px;
    text-align: center;
}

.fotobanner{
    width: 80%;
    padding-left: 10%;
    padding-top: 4%;
}

.fotoprincipal{
    float: left;
    width: 19%;
    padding-top: 14%;
    margin-left: 20%;
    border-radius: 7%;
    margin-bottom: 8%;
}

#tabla_1{
    float: right;
    padding-top: 19%;
    padding-right: 200px;
}

#tabla_1 tr td{
    padding-bottom: 5%;

}

#tabla_1 tr td h3{
    font-size: 24px;
}

#tabla_1 tr td p{
    font-size: 20px;

}

figure img{
    width: 80%;
    border-radius: 15px;
    border:2px solid #000000;
    margin-top: 20px;
    margin-left: 11%;
    margin-right: auto;
}



article h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 3%;
}

.control{
    width: 100%;
    height: 30%;
    font-size: 18px;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 3%;
    resize: none;
    padding: 1%;
}

article{
    width: 50%;
    border:2px solid #ECB2E4;
    background-color: #bbaae189;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    padding-top: 5%;
}

article form label{
    font-size: 20px;
}

.boton{
    font-size: 20px;
    font-weight: bold;
    background-color: #ECB2E4;
    color: #000000;
    width: 350px;
    height: 50px;
    border-radius: 15px;
    border-color: #8570b389;
    margin-top: 10px;
    margin-bottom: 10px;
}

.boton:hover{
    background-color: #000000;
    color: #ECB2E4;
    border-color: #ECB2E4;
}


.foto{
    width: 100%;
    float: left;
    border-radius: 10px;
    margin-top: 5%;
}

.galeria1 {
    width: 80%;
    border: none;
    background-color: #00000000;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.cajaPlan {
    float: left;
    width: 28%;
    margin: 1.5%;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    height: 450px;
    margin-bottom: 5%;
    font-size: 15px;
    
}
.cantidad{
    float: left;
    margin-left: 50%;
    margin-top: 3%;
    font-size: 15px;
}

.cantitexto{
    float: right;
    width: 12%;
    text-align: center;
    margin-top: 4%;
    font-size: 15px;

}

.footer2{
    clear: both;
    margin: 0;
    margin-top: 5%;
    background-color: #ECB2E4;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 22px;
    text-align: center;
}

.textoPlan{
    clear: both;
    font-size: 20px;
    text-align: center;
    list-style: none;
    margin-left: 3px;
    margin-right: 3px;
    padding-bottom: 10px;
}
